body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center; /* Untuk horizontal centering */
  align-items: center; /* Untuk vertical centering */
  height: 100vh;
  background: linear-gradient(140.54deg, #608d00 0%, #d30000 72.37%),
    linear-gradient(58.72deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: color-dodge, overlay, difference, normal;
}

h1 {
  text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6);
}

.tiny {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* mengatur kotak kontainer */
.container {
  background-color: rgb(236, 236, 236);
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* mengatur box input angka untuk berat dan tinggi */
label,
input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding-top: 20px;
}

input {
  padding: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* style untuk tombol hitung bmi */
button {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  margin: 30px auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button::after,
button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* styling bagian result */
#result {
  margin-top: 20px;
  text-align: center;
}

#result h2 {
  font-size: 24px;
  color: #333;
}

#result p {
  font-size: 16px;
  color: #666;
}
